<nav class="header-nav">
    <a class="app-name" href="">.NET サンプル アプリケーション</a>
    <div class="nav-links">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">ホーム</NavLink>
        <NavLink class="nav-link" href="counter">カウンター</NavLink>
        <NavLink class="nav-link" href="weather">天気予報</NavLink>
        <NavLink class="nav-link" href="attendees">参加者一覧</NavLink>
    </div>
</nav>

