@page "/weather"
@attribute [StreamRendering]
@rendermode InteractiveServer
@using DotnetSampleApp.Application.DTOs
@using DotnetSampleApp.Application.UseCases
@inject GetWeatherForecastsUseCase GetWeatherForecasts

<PageTitle>天気予報</PageTitle>
<SectionContent SectionName="PageTitle">天気予報</SectionContent>

<h1>天気予報</h1>

<p>This component demonstrates showing data.</p>

@if (Forecasts is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Date</th>
                <th aria-label="Temperature in Celsius">Temp. (C)</th>
                <th aria-label="Temperature in Fahrenheit">Temp. (F)</th>
                <th>Summary</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var forecast in Forecasts)
            {
                <tr>
                    <td>@forecast.Date.ToShortDateString()</td>
                    <td>@forecast.TemperatureC</td>
                    <td>@forecast.TemperatureF</td>
                    <td>@forecast.Summary</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    [PersistentState]
    public IReadOnlyList<WeatherForecastDto>? Forecasts { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Forecasts ??= await GetWeatherForecasts.ExecuteAsync();
    }
}
